[originmanager]
rpc_in_spec=tcp://*:10100

[edgemanager]
rpc_in_spec=tcp://*:10100

[instancemanager]
rpc_in_spec=tcp://*:10100
stats_out_spec=tcp://*:10101
edge_capacity=5000
client_capacity=5000
aws_access_key=
aws_secret_key=
regions=us-west-1,us-west-2,us-east-1,eu-west-1
key_name=scaledemo
sec_group=scaledemo
itype_edge=m1.xlarge
itype_client=m1.xlarge
ami_us-west-1_edge=
ami_us-west-1_client=
ami_us-west-2_edge=
ami_us-west-2_client=
ami_us-east-1_edge=
ami_us-east-1_client=
ami_eu-west-1_edge=
ami_eu-west-1_client=
ami_ap-northeast-1_edge=
ami_ap-northeast-1_client=
origin_host=
headline_host=
client_base_uri=
