* {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

@font-face {
	font-family: "Lucida Console";
	src: url('../fonts/lucon.ttf');
}

body {
	margin: 0;
	padding: 0;
	width: 100%;
	background: url('../img/background.jpg') repeat;
	color: #808080;
	font-size: 100%;
	font-family: "Open Sans"
}

a {
	color: #808080;
	text-decoration: none;
}

textarea {
	font-family: "Lucida Console";
	font-size: 0.9em;
	color: #939496;
	border: none;
	background-color: #222222;
	-webkit-box-shadow: 0px 1px 0px rgba(58, 58, 58, 1);
	-moz-box-shadow:    0px 1px 0px rgba(58, 58, 58, 1);
	box-shadow:         0px 1px 0px rgba(58, 58, 58, 1);
	padding: 10px;
}

.wrap {
	min-width: 320px;
	max-width: 960px;
	position: relative;
	margin: 0 auto;
	overflow: hidden;
}

.container {
	width: 100%;
	min-height: 300px;
	position: relative;
	margin: 0 auto;
	overflow: hidden;
	padding-top: 90px;
}

.container .wrap {
	min-height: 180px;
}

.pull-left {
	float: left;
}

.pull-right {
	float: right;
}

nav {
	width: 100%;
	height: 75px;
	background: url('../img/menu_background.jpg') top left repeat;
	position: fixed;
	top: 0;
	left: 0;
	overflow: hidden;
	z-index: 1;
}

nav div, p, a {
	display: inline-block;
}

nav .wrap {
	display: block;
	margin: 0 auto;
}

nav a.logo {
	display: block;
	margin: 0;
}

nav .logo img {
	height: 75px;
}

.capacity {
	width: 400px;
	position: relative;
	margin: 0 auto;
	overflow: hidden;
}

.capacity .label {
    text-align:center;
    font-size: 1.125em;
    font-weight: 600;
    color: white;
    text-transform: uppercase;
}

#capacity {
    text-align:center;
    font-size: 3em;
    font-weight: 300;
    color: #47BFB3;
}

.space-row {
	margin: 0;
	margin-top: 40px;
}

.space-row h2 {
	font-size: 1.3em;
	font-weight: 600;
	line-height: 1;
	display: inline;
	margin-left: 20px;
}

.space-row h2.sub-caption {
	font-weight: 300;
	margin: 0;
}

.space-left, .space-right {
	width: 480px;
	margin: 0;
	position: relative;
}

.space-left {
	float: left;
}

.space-right {
	float: right;
    padding-left: 20px;
	margin-top: -17.5em;
}

.second-row .space-right {
	float: right;
	margin-top: -23.6em;
}

.space-right .horizontal-separator {
	position: relative;
	margin: 20px;
}

.horizontal-separator {
	margin: 0;
	padding: 0;
	border: none;
	border-bottom: groove 1px #757575;
	-webkit-box-shadow: 0px 1px 0px rgba(58, 58, 58, 1);
	-moz-box-shadow:    0px 1px 0px rgba(58, 58, 58, 1);
	box-shadow:         0px 1px 0px rgba(58, 58, 58, 1);
	margin-top: 2.813em;
}

.vertical-separator1 {
	width: 2.063em;
	height: 17.5em;
	background: url('../img/vertical_separator.png');
	position: relative;
	margin: 0 auto;
}

.vertical-separator2 {
	width: 2.063em;
	height: 23.333em;
	background: url('../img/vertical_separator2.png');
	position: relative;
	margin: 0 auto;
}

.Servers {
	margin: 0 auto;
	overflow: hidden;
}

.numServ {
	width: 240px;
	height: 300px;
	float: left;
}

.numServ strong {
    font-weight: 600;
}

.numServ canvas {
    display:block;
    margin: 0 auto;
}

.numServ div {
	display: block;
	width: 100%;
	text-align: center;
	margin: 0;
}

.numServ .counts {
    font-size: 1.5em;
}

.numServ .nServ {
	color: white;
	font-size: 1.6em;
}

.horizontal-bar {
	margin-left: 1.563em;
	margin-top: 3.125em;
	height: 20px;
	display: block;
}

.horizontal-bar .hcap {
	min-height: 20px;
}

.horizontal-bar p.hbar-caption {
	font-size: 0.875em;
	font-weight: 600;
	line-height: 1;
	float: left;
	margin: 0;
}

.horizontal-bar p.hbar-value {
	font-size: 1.875em;
	font-weight: 700;
	line-height: 1;
	color: white;
	float: right;
	margin: 0;
	margin-top: -0.47em;
}

.horizontal-bar .hbar {
	position: relative;
	height: 0.688em;
	border: none;
	-webkit-box-shadow: 0px 1px 0px rgba(58, 58, 58, 1);
	-moz-box-shadow:    0px 1px 0px rgba(58, 58, 58, 1);
	box-shadow:         0px 1px 0px rgba(58, 58, 58, 1);
}

.horizontal-bar .ui-progressbar {
	background-color: #222222;
}

.horizontal-bar .ui-progressbar-value {
	background-color: #47C0B1;
	height: 0.688em;
}

.lastMsgR {
	overflow: hidden;
	margin: 0;
	padding: 0;
}

.lastMsgR p {
	font-size: 1.125em;
	font-weight: 600;
	color: white;
    margin: 0;
}

.lastMsgR p.numRC {
	font-size: 3em;
	font-weight: 300;
	color: #47BFB3;
	float: right;
	margin: 0;
	margin-top: 0.2em;
}

.lastMsgR p.Message {
	display: block;
	font-size: 0.938em;
	color: #7c7d7f;
	margin: 0;
	margin-top: 1.467em;
	margin-bottom: 2.8em;
}

.send-receive {
    padding: 10px;
}

#code-sample {
    width: 100%;
    height: 200px;
}