<!DOCTYPE html>
<html>
    <head>
        <title>FAN</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
        <link href="/static/css/fanout.css" rel="stylesheet">
    </head>

	<body>
		<nav>
			<div class="wrap">
				<a class="logo pull-left" href="#"><img src="/static/img/logo.png"></a>
			</div> <!-- wrap -->
		</nav>
		<div class="container">
			<div class="wrap">
				<div class="capacity">
                    <div class="label">
                        Number of clients
                    </div>
                    <div id="capacity">0</div>
				</div> <!-- capacity -->
				<div class="space-row">
					<div class="space-left">
						<div class="Servers">
							<div class="numServ">
                                <canvas id="edgeServCanvas" width="180" height="180">
                                </canvas>
                                <div class="counts">
                                    <strong id="edge-up" class="nServ">0</strong>/<span id="edge-total">0</span>
                                </div>
                                <div class="label">
                                    <div>NUMBER OF</div>
                                    <div><strong>EDGE SERVERS</strong></div>
                                </div>
							</div>
							<div class="numServ">
                                <canvas id="clientServCanvas" width="180" height="180">
                                </canvas>
                                <div class="counts">
                                    <strong id="client-up" class="nServ">0</strong>/<span id="client-total">0</span>
                                </div>
                                <div class="label">
                                    <div>NUMBER OF</div>
                                    <div><strong>CLIENT SERVERS</strong></div>
                                </div>
							</div>
						</div>
					</div> <!-- space-left -->
					<div class="vertical-separator1"></div>
					<div class="space-right">
						<h2>Ping times </h2>
						<h2 class="sub-caption">(in miliseconds, of all servers)</h2>
						<div class="horizontal-bar">
							<div class="hcap"><p class="hbar-caption">MINIMUM</p>
							<p id="minimum-val" class="hbar-value">0</p></div>
							<div class="hbar" id="minimum" max="1000" value="0"></div>
						</div> <!-- horizontal-bar -->
						
						<div class="horizontal-bar">
							<div class="hcap"><p class="hbar-caption">MAXIMUM</p>
							<p id="maximum-val" class="hbar-value">0</p></div>
							<div class="hbar" id="maximum" max="1000" value="0"></div>
						</div> <!-- horizontal-bar -->
						
						<div class="horizontal-bar">
							<div class="hcap"><p class="hbar-caption">AVERAGE</p>
							<p id="average-val" class="hbar-value">0</p></div>
							<div class="hbar" id="average" max="1000" value="0"></div>
						</div> <!-- horizontal-bar -->
					</div> <!-- space-right -->
					<div class="horizontal-separator"></div>
				</div> <!-- space-row -->
				
				<div class="space-row second-row">
					<div class="space-left">
    					<div class="lastMsgR">
							<p style="margin:0;">LAST RECEIVED MESSAGE:</p>
                        </div>
                        <div class="send-receive">
							<p id="message" class="Message">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
								Suspendisse ac risus tristique, dictum dui nec, dictum nisi. Nulla
								tristique eros leo, ac pulvinar arcu ullamcorper non.</p>
						</div>
					</div> <!-- space-left -->
					<div class="vertical-separator2"></div>
					<div class="space-right">
						<div class="lastMsgR">
							<p>NUMBER OF CLIENTS THAT HAVE RECEIVED THE LAST MESSAGE:</p>
							<p id="received" class="numRC">0</p>
						</div>

                        <div class="horizontal-separator"></div>
                        <div class="deliveryTimes">
                            <h2>Delivery times </h2>
                            <h2 class="sub-caption">(in miliseconds)</h2>
                            <div class="horizontal-bar">
                                <div class="hcap"><p class="hbar-caption">MINIMUM</p>
                                    <p id="DtMinimum-val" class="hbar-value">0</p></div>
                                <div class="hbar" id="DtMinimum" max="1000" value="0"></div>
                            </div> <!-- horizontal-bar -->

                            <div class="horizontal-bar">
                                <div class="hcap"><p class="hbar-caption">MAXIMUM</p>
                                    <p id="DtMaximum-val" class="hbar-value">0</p></div>
                                <div class="hbar" id="DtMaximum" max="1000" value="0"></div>
                            </div> <!-- horizontal-bar -->

                            <div class="horizontal-bar">
                                <div class="hcap"><p class="hbar-caption">AVERAGE</p>
                                    <p id="DtAverage-val" class="hbar-value">0</p></div>
                                <div class="hbar" id="DtAverage" max="1000" value="0"></div>
                            </div> <!-- horizontal-bar -->

                        </div>

					</div> <!-- space-right -->
					<div class="horizontal-separator"></div>
				</div> <!-- space-row -->
				
				<div class="space-row">
					<div class="wrap">
						<textarea id="code-sample"><!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head prefix="og: http://ogp.me/ns# website: http://ogp.me/ns/website#">
	<title>Fanout</title>
	<meta property="og:type" content="website" />
	<meta property="og:url" content="http://fanout.io/" />
	<meta property="og:title" content="Fanout" />
	<meta property="og:image" content="http://fanout.io/static/image/fanout_icon.png" />
	<meta property="og:description" content="Fanout is a cloud service that makes it easy to push data to browsers and apps." />
	<meta name="description" content="Fanout is a cloud service that makes it easy to push data to browsers and apps." />
	<link href="/static/style/style.css" rel="stylesheet" type="text/css" />
	<script src="//use.edgefonts.net/open-sans:n3,n4,n7.js"></script>
	<link href="/static/image/favicon.png" rel="icon" type="image/png" />
	<script src="/static/style/jquery-1.7.1.min.js" type="text/javascript"></script>
	<script src="/static/style/jquery.placeholder.min.js" type="text/javascript"></script>
	<script src="/static/style/fanout.js" type="text/javascript"></script>
	<script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-37668314-1']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script');
 ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
</head>
<body>
<!--Content-->
</body>
</html>
                        </textarea>
					</div> <!-- wrap -->
				</div> <!-- space-row -->
				
			</div> <!-- wrap -->
		</div> <!-- container -->

		<script src="/static/js/jquery-1.9.1.js"></script>
		<script src="/static/js/jquery-ui-progress.js"></script>
		<script src="/static/js/gauge.min.js"></script>
		<script src="/static/js/pollymer-1.0.0.js"></script>

		<script>
			var edgeChart = null;
			var clientChart = null;

            var capacityAnim = null;
            var numClientsAnim = null;

            var firstTime = true;

			var startClient = function() {
				var req = new Pollymer.Request();
				var lastId = null;
				req.recurring = true;
				req.maxTries = -1;
				req.on('finished', function(code, result) {
					if(result.id == null) {
						return;
					}
					lastId = result.id;
					updateElements(result);
				});
				req.start('GET', function() {
					if(lastId != null) {
						return 'http://scaledemo.fanout.io/status/?last_id=' + lastId;
					} else {
						return 'http://scaledemo.fanout.io/status/';
					}
				});
			};

			var updateElements = function(data) {
				ping_bar_max = 1000;
				/*ping_bar_max = data.ping_min;
				if(data.ping_max > ping_bar_max) {
					ping_bar_max = data.ping_max;
				}
				if(data.ping_avg > ping_bar_max) {
					ping_bar_avg = data.ping_avg;
				}*/

				dt_bar_max = 1000;
				/*dt_bar_max = data.receive_min;
				if(data.receive_max > dt_bar_max) {
					dt_bar_max = data.receive_max;
				}
				if(data.receive_avg > dt_bar_max) {
					dt_bar_avg = data.receive_avg;
				}*/

				$('#edge-up').text('' + data.edge_up);
				$('#edge-total').text('' + data.edge_total);
				$('#client-up').text('' + data.client_up);
				$('#client-total').text('' + data.client_total);

                var edgeServVal = 100 * data.edge_up / data.edge_total;
                if (isNaN(edgeServVal)) {
                    edgeServVal = 0;
                }
                if (edgeServVal<1) {
                    edgeServVal = 1
                }
                if (firstTime) {
                    setValueImmediate(edgeChart, edgeServVal);
                } else {
                    edgeChart.set(edgeServVal);
                }

                var clientServVal = 100 * data.client_up / data.client_total;
                if (isNaN(clientServVal)) {
                    clientServVal = 0;
                }
                if (clientServVal<1) {
                    clientServVal = 1
                }
                if (firstTime) {
                    setValueImmediate(clientChart, clientServVal);
                } else {
                    clientChart.set(clientServVal);
                }

				$('#minimum-val').text('' + data.ping_min);
				$('#minimum').progressbar({
					max: ping_bar_max,
					value: data.ping_min
				});

				$('#maximum-val').text('' + data.ping_max);
				$('#maximum').progressbar({
					max: ping_bar_max,
					value: data.ping_max
				});

				$('#average-val').text('' + data.ping_avg);
				$('#average').progressbar({
					max: ping_bar_max,
					value: data.ping_avg
				});

				$('#DtMinimum-val').text('' + data.receive_min);
				$('#DtMinimum').progressbar({
					max: dt_bar_max,
					value: data.receive_min
				});

				$('#DtMaximum-val').text('' + data.receive_max);
				$('#DtMaximum').progressbar({
					max: dt_bar_max,
					value: data.receive_max
				});

				$('#DtAverage-val').text('' + data.receive_avg);
				$('#DtAverage').progressbar({
					max: dt_bar_max,
					value: data.receive_avg
				});

                setValueImmediate(capacityAnim, data.capacity);
                if (firstTime || data.received < numClientsAnim.value) {
                    setValueImmediate(numClientsAnim, data.received);
                } else {
                    setValueAnimate(numClientsAnim, data.received);
                }

				$('#message').text(data.message);

                firstTime = false;
			};

            var setValueImmediate = function(anim, value) {
                anim.displayedValue = value * 1;
                anim.value = value * 1;
                anim.render();
            }

            var setValueAnimate = function(anim, value) {
                anim.setVal(value);
            };

			$(document).ready(function(){
				startClient();

                var gaugeOpts = {
                    lines: 12, // The number of lines to draw
                    angle: 0.25, // The length of each line
                    lineWidth: 0.1, // The line thickness
                    pointer: {
                        length: 0.9, // The radius of the inner circle
                        strokeWidth: 0.035, // The rotation offset
                        color: '#000000' // Fill color
                    },
                    limitMax: 'false',   // If true, the pointer will not go past the end of the gauge

                    colorStart: '#57CFC3',   // Colors
                    colorStop: '#47BFB3',    // just experiment with them
                    strokeColor: '#044440',   // to see which ones work best for you
                    generateGradient: true
                };

                var edgeServCanvas = document.getElementById('edgeServCanvas');
                edgeChart = new Donut(edgeServCanvas).setOptions(gaugeOpts);
                edgeChart.maxValue = 100; // set max gauge value
                edgeChart.animationSpeed = 55; // set animation speed (32 is default value)
                edgeChart.set(1);

                var clientServCanvas = document.getElementById('clientServCanvas');
                clientChart = new Donut(clientServCanvas).setOptions(gaugeOpts);
                clientChart.maxValue = 100; // set max gauge value
                clientChart.animationSpeed = 55; // set animation speed (32 is default value)
                clientChart.set(1);

                var capacity = document.getElementById('capacity');
                capacityAnim = new AnimatedText(capacity, false);
                AnimationUpdater.add(capacityAnim);

                var received = document.getElementById('received');
                numClientsAnim = new AnimatedText(received, false);
                AnimationUpdater.add(numClientsAnim);
			});
		</script>
	</body>
</html>
